.overlay_nav {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 95vh;
    min-width: 90vw;
    background-color: white;
    z-index: 9999;
    margin: 30px;
    border-radius: 20px;
    box-shadow: 0px 1px 1px 200px rgba(0, 0, 0, 0.771);
}

.close_button {
    position: fixed;
    display: none;
    top: 8vh;
    right: 10vw;
    z-index: 999999999;
    width: 35px;
    height: 50px;
    color: white;
}

.close_button img{
    height: 35px;
    width: 35px;
}

.visible {
    display: inline !important;
    color: white;
}

.menu_content {
    position: fixed;
    top: 60px;
    left: 60px;
}

.menu_content a {
    display: block;
    margin: 35px 0;
    font-size: 20px;
    text-decoration: underline;
}

.blue {
    color: #38BFF2;
}

.orange {
    color: #F15525;
}

@media screen and (max-width: 650px) {
    .overlay_nav {
        margin:25px;
    }
    .close_button {
        top: 7vw;
    }
}

@media screen and (max-width: 500px) {
    .close_button {
        top: 10vw;
    }
}

@media screen and (max-width: 400px) {
    .close_button {
        top: 7vh;
        right: 5vw !important;
    }
    .close_button img {
        height: 30px;
        width: 30px;
    }
}

@media screen and (max-width: 350px) {
    .overlay_nav {
        margin: 10px;
        height: 95vh;
        margin-top: 15px;
    }
    .close_button {
        top: 4vh;
        right: 12vw;
    }
}

@media (prefers-color-scheme: dark) {
    .overlay_nav {
        background-color: #0e1116;
        border: 1px solid rgba(255, 255, 255, 0.214);
    }
    .close_button img {
        filter: invert(100%);
    }
    .menu_content {
        color: white;
    }
}